.footer-v1-marquee {
  padding-top: 60px;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.footer-v1-marquee__track {
  display: inline-block;
  animation: anime 35s linear infinite;
}

.footer-v1-marquee:hover .footer-v1-marquee__track {
  animation-play-state: paused;
}

.image-container {
  position: relative;
  display: inline-block;
}

.footer-v1-marquee__track img {
  width: 200px;
  height: 150px;
  margin: 0 20px 0 4px;
  border: 2px solid #fff;
  border-radius: 8px;
}

.Item4 {
  color: #0d0c22;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 12px 0 0 4px;
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.footer-v1-marquee-item__stack {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 150px;
}

.footer-v1-marquee-item__stack:before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  right: 0;
  transform: translate(-10px, -10px);
  transition: 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-delay: 0.1s;
  border: 2px solid #fff;
  background: #edddfb;
  width: 96%;
  height: 96%;
  border-radius: 12px;
  opacity: 0.4;
}

.footer-v1-marquee__track a:hover .footer-v1-marquee-item__stack:before {
  transform: translate(-5px, -15px);
}

.footer-v1-marquee-item__stack:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 98%;
  height: 98%;
  transform: translate(-15px, -5px);
  transition: 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-delay: 0.1s;
  border: 2px solid #fff;
  border-radius: 12px;
  background: #edf3d8;
}

.footer-v1-marquee__track a:hover .footer-v1-marquee-item__stack:after {
  transform: translate(-13px, -7px);
}

.footer-v2__container {
  margin: 32px auto;
  padding: 0 32px;
  max-width: 1200px;
}

.footer-v2__upper,
.footer-v2__lower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 44px 0;
}

.footer-v2__links {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.footer-v2__links li {
  font-weight: 500;
  text-transform: capitalize;
}

.footer-v2__links a {
  color: #0d0c22;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 200ms ease;
}

.footer-v2__social-media {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}

.footer-v2__social-media a {
  color: #0d0c22;
  transition: all 200ms ease;
}

.footer-v2__links a:hover,
.footer-v2__social-media a:hover {
  color: #565564;
}

.footer-v2__social-media a svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.footer-v2__lower {
  color: #6e6d7a;
  font-size: 14px;
  line-height: 20px;
  padding: 22px 0 44px 0;
}

.footer-v2__lower-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 16px;
}

.footer-v2__lower-list li:first-child {
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.footer-v2__lower-list a {
  font-family: "Anek Devanagari", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: #0d0c22;
  transition: all 200ms ease;
}

.footer-v2__lower-list a:hover {
  color: #6e6d7a;
}

@media only screen and (max-width: 1040px) {
  .footer-v2__links {
    column-gap: 20px;
  }
}

@media only screen and (max-width: 1000px) {
  .footer-v2__upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
  }
  .footer-v2__links {
    flex-wrap: wrap;
    column-gap: 16px;
    line-height: 20px;
    row-gap: 12px;
  }
  .footer-v2__lower {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer-v2__lower-list {
    flex-wrap: wrap;
  }
}

@keyframes anime {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
